<header>
    <nav class="navbar">
    <div id="homepage-logo">
        <img
        id="homepage-link"
        src="images/logo/aohcc_logo_1200px.png"
        alt="Anchors of Hope Counseling Center."
        />
    </div>
    <ul class="links">
        <li>
        <a id="home-link" class="current-page" href="#">Home</a>
        </li>
        <li>
        <a class="navbar-link" href="./affordability.html">Affording Therapy</a>
        </li>
        <li>
        <a class="navbar-link" href="./faq.html">FAQ</a>
        </li>
    </ul>
    </nav>
</header>
