:root {
  --outline-color: #f4f3ee;
}

#affordability {
  width: 80%;
  margin: 0 auto;
  text-align: initial;
}

#affordability h1,
#affordability h2 {
  text-align: center;
}

#affordability a {
  color: var(--outline-color);
  font-weight: 600;
}

#affordability a:hover,
#affordability a:focus {
  color: #ffccb0;
  text-shadow: 0px 0px 5px #ffccb0;
  transition: 300ms ease-in-out;
}

@media (max-width: 480px) {
  #affordability {
    width: 90%;
  }
}
