:root {
  --outline-color: #f4f3ee;
}

#insurance {
  width: 80%;
  margin: 0 auto;
  text-align: initial;
}

#insurance h1,
#insurance h2 {
  text-align: center;
}

#insurance a {
  color: var(--outline-color);
  font-weight: 600;
}

#insurance a:hover,
#insurance a:focus {
  color: #ffccb0;
  text-shadow: 0px 0px 5px #ffccb0;
  transition: 300ms ease-in-out;
}

@media (max-width: 480px) {
  #insurance {
    width: 90%;
  }
}
